{% extends "layout.njk" %}

{% block content %}
  <main>
    <section class="presentation">
      <div class="presentation__texts">
        <h1>As melhores receitas</h1>
        <p>
          Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
        </p>
      </div>
      <img src="/assets/chef.png" alt="Chef Foodfy"/>
    </section>

    <h2>Mais acessadas</h2>

    <section class="recipes">
      <div class="recipe">
        <div class="recipe__image">
          <img src="/assets/burger.png" alt="Triplo bacon burger"/>
        </div>
        <h3>Triplo bacon burguer</h3>
        <p>por Jorge Relato</p>
      </div>

      <div class="recipe">
        <div class="recipe__image">
          <img src="/assets/pizza.png" alt="Pizza 4 estações"/>
        </div>
        <h3>Pizza 4 estações</h3>
        <p>por Fabiana Melo</p>
      </div>

      <div class="recipe">
        <div class="recipe__image">
          <img src="/assets/espaguete.png" alt="Espagute ao alho"/>
        </div>
        <h3>Espaguete ao alho</h3>
        <p>por Júlia Kinoto</p>
      </div>

      <div class="recipe">
        <div class="recipe__image">
          <img src="/assets/lasanha.png" alt="Lasanha mac n' cheese"/>
        </div>
        <h3>Lasanha mac n' cheese</h3>
        <p>por Juliano Vieira</p>
      </div>

      <div class="recipe">
        <div class="recipe__image">
          <img src="/assets/doce.png" alt="Docinhos pão-do-céu"/>
        </div>
        <h3>Docinhos pão-do-céu</h3>
        <p>por Ricardo Golvea</p>
      </div>

      <div class="recipe">
        <div class="recipe__image">
          <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue"/>
        </div>
        <h3>Asinhas de frango ao barbecue</h3>
        <p>por Vania Steroski</p>
      </div>
    </section>
  </main>
{% endblock content %}