{% extends "layout.njk" %}

{% block content %}
  <main>
    <section class="chefs">
      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <p class="chef__recipes">3 receitas</p>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <p class="chef__recipes">3 receitas</p>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <p class="chef__recipes">3 receitas</p>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <p class="chef__recipes">3 receitas</p>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <p class="chef__recipes">3 receitas</p>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <p class="chef__recipes">3 receitas</p>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <p class="chef__recipes">3 receitas</p>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <p class="chef__recipes">3 receitas</p>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}