{% extends "layout.njk" %}

{% block content %}
  <main>
    <section class="detail">
      <div class="detail__image">
        <img src="/assets/chef.png" alt="Chef Foodfy"/>
      </div>

      <h2>Titulo</h2>
      <p>autor</p>

      <div class="ingredients">
        <h3>Ingredientes</h3>
        <ul>
          <li>Item</li>
        </ul>
      </div>

      <div class="preparation">
        <h3>Modo de preparo</h3>
        <ul>
          <li>Item</li>
        </ul>
      </div>

      <div class="information">
        <h3>Inforações adicionais</h3>
        <p>dd</p>
      </div>

    </section>
  </main>
{% endblock content %}