{% extends "layout.njk" %}

{% block content %}
  <div class="container table-container">
    <a href="/students/create" class="button">Novo</a>
    <table width="100%">
      <thead>
        <tr>
          <th>Professor</th>
          <th>Acompanhamento</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>
              <span style="background: url({{student.avatar_url}}) no-repeat center / cover"></span>
              <p>{{student.name}}</p>
            </td>
            <td>
              {% for service in student.services %}
                <span class="table-services">{{service}}</span>
              {% endfor %}
            </td>
            <td>
              <a class="button" href="/students/{{student.id}}">Ver</a>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}