<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />

    <title>Fernanda Leite</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="#">Skills</a></li>
          <li><a href="#">Works</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="thumb">
        <img
          src="https://avatars1.githubusercontent.com/u/48728541?s=460&u=50a45fccecd761aebf1375e9e6236503e6782a13&v=4"
          alt="Foto Fernanda Leite"
        />
      </div>

      <h1>Fernanda Leite</h1>
      <h2>Student | Web developer</h2>

      <div class="about">
        <p>
          Hello, my name is Fernanda Caroline Leite I am 19 years old and I am
          currently in the third semester of the Computer Science course. I have
          been trained as a computer technician since 2018. I am passionate
          about technology and Web Development.
        </p>
        <p>
          I like to create and seek solutions to everyday problems, I am always
          updating and looking for opportunities that can add knowledge. I am a
          dedicated, determined person, very focused on what I do and eager to
          work and learn.
        </p>
      </div>

      <footer>
        <a href="https://github.com/Fekleite" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/fcleite19/" target="_blank"
          >Linkedin</a
        >
      </footer>
    </main>
  </body>
</html>
