<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <title>Fernanda Leite</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="#">Skills</a></li>
          <li><a href="#">Works</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Works</h1>
    </main>
  </body>
</html>
