<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" placeholder="http://" value="{{teacher.avatar_url}}">
  </div>
</div>

<div class="item">
  <div>Professor</div>
  <div>
    <input type="text" name="name" placeholder="Nome completo do professor" value="{{teacher.name}}">
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input type="date" name="birth" value="{{teacher.birth_date}}">
  </div>
</div>

<div class="item">
  <div>Grau de escolaridade</div>
  <div>
    <select name="schooling">
      <option value="em" {% if teacher.education_level == "em" %} selected="selected" {% endif %}>Ensino Médio</option>
      <option value="u" {% if teacher.education_level == "u" %} selected="selected" {% endif %}>Ensino Superior Completo</option>
      <option value="m" {% if teacher.education_level == "m" %} selected="selected" {% endif %}>Mestrado</option>
      <option value="d" {% if teacher.education_level == "d" %} selected="selected" {% endif %}>Doutorado</option>
    </select>
  </div>
</div>

<div class="item">
  <div>Tipo de aula</div>
  <div>
    <span><input type="radio" name="type_class" value="P" id="pres" {% if teacher.class_type == "P" %} checked="checked" {% endif %}>
      <label for="pres">Presencial</label>
    </span>
    <span><input type="radio" name="type_class" value="D" id="dist" {% if teacher.class_type == "D" %} checked="checked" {% endif %}>
      <label for="dist">À distância</label>
    </span>

  </div>
</div>

<div class="item">
  <div>Área de atuação</div>
  <div>
    <input type="text" name="services" placeholder="Ex: Matemática, Física" value="{{teacher.subjects_taught}}">
  </div>

  <button type="submit">Salvar</button>