* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #7159c1;
}

.header__links {
  width: 100%;
  padding: 32px;
  background-color: #fff;
  text-align: center;
}

.header__links a {
  position: relative;
  text-decoration: none;
  color: #777;
}

.header__links a + a {
  margin-left: 16px;
}

a.active {
  font-weight: bold;
  color: #7159c1;
}

.header__links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #7159c1;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.header__links a:hover::after {
  width: 100%;
  transition: width 300ms ease-in-out;
}
