* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #282a36;
}

header {
  width: 100%;
  background-color: #00000033;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 32px;
}

header nav ul li {
  margin: 0 16px;
}

header nav ul li a {
  color: #eee;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.5s ease-in-out;
}

header nav ul li a:hover {
  color: #7159c1;
}

main {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px auto;
}

main h1 {
  color: #eee;
  font-weight: 400;
  padding: 16px 0 8px;
}

main h2 {
  font-size: 0.9em;
  color: #7159c1;
  font-weight: 400;
  text-transform: uppercase;
}

.thumb {
  text-align: center;
}

.thumb img {
  width: 60%;
  border-radius: 50%;
  border: 5px solid #7159c1;
}

.about {
  width: 60%;
  text-align: justify;
  margin: 32px 0;
  color: #eeeeee99;
  line-height: 24px;
  font-weight: 300;
}

.about p {
  padding-bottom: 8px;
}

footer a {
  color: #eee;
  text-decoration: none;
  margin: 16px 8px 0;
  transition: color 0.5s ease-in-out;
}

footer a:hover {
  color: #7159c1;
}
