{% extends "adminLayout.njk" %}

{% block content %}
  <main>

    <h2 class="admin__title">Gerenciar chefs</h2>

    <section class="admin__chefs">
      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <a href="/admin/chefs/1" class="chef__link">Visualizar</a>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <a href="/admin/chefs/1" class="chef__link">Visualizar</a>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <a href="/admin/chefs/1" class="chef__link">Visualizar</a>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <a href="/admin/chefs/1" class="chef__link">Visualizar</a>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <a href="/admin/chefs/1" class="chef__link">Visualizar</a>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <a href="/admin/chefs/1" class="chef__link">Visualizar</a>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <a href="/admin/chefs/1" class="chef__link">Visualizar</a>
        </div>
      </div>

      <div class="chef">
        <div class="chef__avatar"></div>
        <div class="chef__infos">
          <h2 class="chef__name">Júlia Kinoto</h2>
          <a href="/admin/chefs/1" class="chef__link">Visualizar</a>
        </div>
      </div>

    </section>

    <a href="/admin/chefs/create" class="new__recipe">
      <div>+</div>
      Novo Chef
    </a>

  </main>
{% endblock content %}