{% extends "adminLayout.njk" %}

{% block head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
{% endblock head %}

{% block content %}
  <main>
    <section class="detail space">
      <div class="detail__header">
        <h3>Chef:
          {{chef.name}}</h3>
        <div class="header__form">
          <form method="POST" action="/admin/chefs?_method=DELETE">
            <input type="hidden" name="id" value="{{chef.id}}">
            <button type="submit" class="form__delete">Deletar</button>
          </form>
          <a href="/admin/chefs/{{chef.id}}/edit" class="detail__edit">Editar chef</a>
        </div>
      </div>

      <div class="detail__image-chef">
        <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}"/>
      </div>

      <h2>{{chef.name}}</h2>

    </section>

    {% if recipes.length != 0 %}

      <h2 class="admin__title">Receitas</h2>

      <section class="admin__recipes">

        {% for recipe in recipes %}
          <div class="admin__recipe">
            <div class="recipe__image a">
              <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}"/>
            </div>
            <div>
              <h3>{{recipe.title}}</h3>

              <a href="/admin/recipes/{{recipe.id}}" class="recipe__link">Visualizar</a>
            </div>
          </div>
        {% endfor %}
      </section>

    {% endif %}

  </main>
{% endblock content %}