<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" placeholder="http://" value="{{student.avatar_url}}">
  </div>
</div>

<div class="item">
  <div>Estudante</div>
  <div>
    <input type="text" name="name" placeholder="Nome completo do estudante" value="{{student.name}}">
  </div>
</div>

<div class="item">
  <div>Email</div>
  <div>
    <input type="email" name="email" placeholder="Email do estudante" value="{{student.email}}">
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input type="date" name="birth" value="{{student.birth}}">
  </div>
</div>

<div class="item">
  <div>Ano escolar</div>
  <div>
    <select name="school_year">
      <option {% if student.school_year == "5EF" %} selected="selected" {% endif %} value="5EF">5º ano do ensino fundamental
      </option>
      <option {% if student.school_year == "6EF" %} selected="selected" {% endif %} value="6EF">6º ano do ensino fundamental
      </option>
      <option {% if student.school_year == "7EF" %} selected="selected" {% endif %} value="7EF">7º ano do ensino fundamental
      </option>
      <option {% if student.school_year == "8EF" %} selected="selected" {% endif %} value="8EF">8º ano do ensino fundamental
      </option>
      <option {% if student.school_year == "9EF" %} selected="selected" {% endif %} value="9EF">9º ano do ensino fundamental
      </option>
      <option {% if student.school_year == "1EM" %} selected="selected" {% endif %} value="1EM">1º ano do ensino médio
      </option>
      <option {% if student.school_year == "2EM" %} selected="selected" {% endif %} value="2EM">2º ano do ensino médio
      </option>
      <option {% if student.school_year == "3EM" %} selected="selected" {% endif %} value="3EM">3º ano do ensino médio
      </option>
    </select>
  </div>
</div>

<div class="item">
  <div>Carga horária semanal (h)</div>
  <div>
    <input type="number" name="workload" value="{{student.workload}}">
  </div>
</div>

<div class="item">
  <div>Professor</div>
  <div>
    <select name="teacher">
      {% for teacher in teacherOptions %}
        <option value="{{teacher.id}}" {% if student.teacher_id == teacher.id %} selected="selected" {% endif %}>{{teacher.name}}</option>
      {% endfor %}
    </select>
  </div>
</div>

<button type="submit">Salvar</button>